#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$border: 3px solid gray;

.app-header {
  flex: 0 0 auto;
  border-bottom: $border;
  display: flex;
}

.app-header-title {
  margin-right: 10px;
  font-size: large;
  font-weight: bold;
}

.app-header-toolbar {
  display: flex;

  * {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.app-header-github {
  flex: 1 1 auto;
  text-align: end;
  text-decoration: none;
  margin-right: 5px;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

.app-body {
  display: flex;
  flex: 1 1 auto;
  overflow-y: auto;
}

.components-list-pane {
  flex: 0 0 auto;
  overflow-y: auto;
  padding: 5px;
}

.designer-pane {
  flex: 1 1 auto;
  overflow-y: auto;
  border-left: $border;
  padding: 5px;
}

.properties-editor-pane {
  flex: 0 0 auto;
  overflow-y: auto;
  border-left: $border;
  padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
